@import '../../styles/colors';
@import '../../styles/variables';

.ipa__navbar {
  background: $darkgray;
  height: $navbar-height;

  position: fixed;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  z-index: 1;

  @extend %side-padding;
}

.ipa__navbar__logo-container {
  display: flex;
  align-items: center;
  justify-content: center;

  transition: all 0.1s ease-in-out;

  @extend %link;
}

.ipa__navbar__logo-container:hover {
  transform: scale(1.025);
}

.ipa__navbar__logo {
  height: 30px;
  width: 25px;
}

.ipa__navbar__title {
  margin-left: 10px;
  margin-top: 3px;

  font-size: 22px;
  font-weight: 800;
  color: $primary;
}
