@import '../../styles/colors';
@import '../../styles/variables';

.ipa__footer {
  background: $darkgray;
  display: flex;
  align-items: center;
  justify-content: space-between;

  @media screen and (max-width: 800px) {
    justify-content: space-evenly;
  }

  @extend %side-padding, %flex-direction, %footer-height;
}

.ipa__footer-logo-container {
  display: flex;
  align-items: center;
  justify-content: center;
}

.ipa__footer-logo {
  height: 40px;
  width: 40px;
  border-radius: 20px;
  box-shadow: 0px 5px 10px 3px rgba(0, 0, 0, 0.2);

  transition: all 0.2s ease-in-out;
}

.ipa__footer-logo:hover {
  box-shadow: 0px 5px 10px 3px rgba(0, 0, 0, 0.3);
  transform: scale(1.05);
  cursor: pointer;
}

.ipa__footer-name {
  margin-left: 20px;
  margin-top: 6px;

  font-size: 22px;
  font-weight: 300;
  color: $offwhite;
  border-bottom: 2px solid transparent;

  transition: all 0.2s ease-in-out;
}

.ipa__footer-name:hover {
  border-bottom: 2px solid $white;
}

.ipa__footer-logo-link-container {
  margin-left: 20px;
  height: 50px;
  width: 50px;
  border-radius: 100%;
  box-shadow: 0px 5px 10px 3px rgba(0, 0, 0, 0.2);

  display: flex;
  align-items: center;
  justify-content: center;
  // border: 2px solid transparent;
  transition: all 0.1s ease-in-out;
}

.ipa__footer-logo-link-container-github {
  background: $github;
}

.ipa__footer-logo-link-container-reddit {
  background: $reddit;
}

.ipa__footer-logo-link {
  height: 35px;
  width: 35px;
}

.ipa__footer-logo-link-reddit {
  height: 30px;
  width: 30px;
}

.ipa__footer-logo-link-container:hover {
  transform: scale(1.075);
  box-shadow: 0px 5px 10px 3px rgba(0, 0, 0, 0.3);
  cursor: pointer;
  // border: 2px solid $offwhite;
}
