@import '../../styles/colors';

.ipa__result-display--light {
  box-shadow: 0px 5px 10px 3px rgba(0, 0, 0, 0.2);
  border-radius: 10px;
  min-height: 320px;
  width: 100%;
  padding: 10px 20px;
  text-align: left;

  background: $white;
  color: $darkgray;
}

.ipa__result-display--dark {
  box-shadow: 0px 5px 10px 3px rgba(0, 0, 0, 0.2);
  border-radius: 10px;
  min-height: 320px;
  width: 100%;
  padding: 10px 20px;
  text-align: left;

  background: $darkgray;
  color: $white;
}

.ipa__result-display-text--light {
  font-family: sans-serif;
  font-size: 16pt;
  user-select: none;
  color: $darkgray;
}

.ipa__result-display-text--dark {
  font-family: sans-serif;
  font-size: 16pt;
  user-select: none;
  color: $white;
}

.ipa__result-tooltip {
  position: relative;
  display: inline-block;
  border-bottom: 2px solid transparent;

  @media screen and (max-width: 800px) {
    position: initial;
  }
}

.ipa__result-tooltip:hover,
.ipa__result-tooltip--light:hover {
  border-bottom: 2px solid $darkgray;
}

.ipa__result-tooltip--dark:hover {
  border-bottom: 2px solid $white;
}

.ipa__result-tooltip .ipa__result-tooltip-text {
  visibility: hidden;
  position: absolute;
  text-align: center;
  user-select: none;
  width: 200px;
  font-size: 18px;

  border-radius: 6px;
  bottom: 100%;
  margin-bottom: 10px;
  margin-left: -100px;
  padding: 20px;
  box-shadow: 0px 5px 10px 5px rgba(0, 0, 0, 0.3);

  @media screen and (max-width: 800px) {
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    margin-bottom: 0px;
    margin-left: 0px;
    padding: 40px 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    box-shadow: 0px 5px 10px 10px rgba(0, 0, 0, 0.3);
  }

  z-index: 1;

  background-color: $darkgray;
  color: $white;
}

.ipa__result-tooltip--light .ipa__result-tooltip-text--light {
  background-color: $darkgray;
  color: $white;
}

.ipa__result-tooltip--dark .ipa__result-tooltip-text--dark {
  background-color: $white;
  color: $darkgray;
}

.ipa__result-tooltip:hover .ipa__result-tooltip-text {
  visibility: visible;
}

.ipa.display.phoneme.block {
  margin: 10px 0px;
  display: inline-block;
  flex-direction: column;
}
